.Rproj.user
**/.DS_Store
casos_urjc/notebooks/_deployment/DEPLOY_CU_50.rar
casos_urjc/notebooks/II_data_processing/04_vacunas/src/pruebas_py.ipynb
casos_urjc/notebooks/II_data_processing/18_infraestructuras/src/task_weather.py
casos_urjc/notebooks/II_data_processing/45_turismo_origen/Data/Output/CU_45_05_03_receptor.csv
casos_urjc/notebooks/V_model_operation/chatGPT.Rmd
casos_urjc/notebooks/V_model_operation/CU_04_VACUNAS_DEPLOY.zip
casos_urjc/notebooks/V_model_operation/04_vacunas/README.html
casos_urjc/notebooks/V_model_operation/04_vacunas/.Rhistory
casos_urjc/notebooks/V_model_operation/04_vacunas/_envios_zip/cu_04_notebooks_scripts_apps.zip
casos_urjc/notebooks/V_model_operation/04_vacunas/_envios_zip/CU_04_VACUNAS_DEPLOY.zip
casos_urjc/notebooks/V_model_operation/04_vacunas/_old/*
casos_urjc/notebooks/dominios_II_y_III/45_turismo_origen/Data/Input/53001.csv
casos_urjc/notebooks/dominios_II_y_III/34_servicios/Data/Input/Espa§a_Seccionado2022_ETRS89H30/SECC_CE_20220101.CPG
casos_urjc/notebooks/dominios_II_y_III/34_servicios/Data/Input/Espa§a_Seccionado2022_ETRS89H30/SECC_CE_20220101.dbf
casos_urjc/notebooks/dominios_II_y_III/34_servicios/Data/Input/Espa§a_Seccionado2022_ETRS89H30/SECC_CE_20220101.prj
casos_urjc/notebooks/dominios_II_y_III/34_servicios/Data/Input/Espa§a_Seccionado2022_ETRS89H30/SECC_CE_20220101.sbn
casos_urjc/notebooks/dominios_II_y_III/34_servicios/Data/Input/Espa§a_Seccionado2022_ETRS89H30/SECC_CE_20220101.sbx
casos_urjc/notebooks/dominios_II_y_III/34_servicios/Data/Input/Espa§a_Seccionado2022_ETRS89H30/SECC_CE_20220101.shp
casos_urjc/notebooks/dominios_II_y_III/34_servicios/Data/Input/Espa§a_Seccionado2022_ETRS89H30/SECC_CE_20220101.shp.xml
casos_urjc/notebooks/dominios_II_y_III/34_servicios/Data/Input/Espa§a_Seccionado2022_ETRS89H30/SECC_CE_20220101.shx
casos_urjc/notebooks/V_model_operation/18_infraestructuras/cu_18_maestros/mod_glm_infra.rds
casos_urjc/notebooks/V_model_operation/18_infraestructuras/cu_18_maestros/mod_glm_zona.rds
casos_urjc/notebooks/V_model_operation/25_listas_espera/cu_25_maestros/modelos_pacientes_xgboost.rds
casos_urjc/notebooks/V_model_operation/25_listas_espera/cu_25_maestros/modelos_tiempo_xgboost.rds

*.ipynb_checkpoints