casos_urjc/notebooks/.DS_Store
casos_urjc/notebooks/0_plantillas/.DS_Store
casos_urjc/notebooks/II_data_processing/.DS_Store
casos_urjc/notebooks/II_data_processing/04_vacunas/.DS_Store
casos_urjc/notebooks/II_data_processing/04_vacunas/Data/.DS_Store
casos_urjc/notebooks/II_data_processing/04_vacunas/Data/Input/.DS_Store
.Rproj.user
**/.DS_Store
